<ng-container *ngIf="log=='login';else loggedIn">
    <!-- Content when currentUser exists (user is logged in) -->
    <body class="dashboard dashboard_2" style="background-color: f3f3f3 !important;">
      <div class="full_container">
         <div class="inner_container" >
            <!-- Sidebar  -->
            <app-dashnav></app-dashnav>
            
            <div id="content"  style="margin-top: 30px !important; float: left;">

          
              <router-outlet></router-outlet>
                  
            </div>
           
         </div>
      </div>


      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="js/owl.carousel.js"></script> 
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
      <!-- calendar file css -->    
      <script src="js/semantic.min.js"></script>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/jquery.fancybox.min.js"></script>
   </body> 
  </ng-container>
  
  <ng-template #loggedIn >
    <div>
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
    <!-- Content when currentUser does not exist (user is logged out) -->
    
  </ng-template>