<div>
  <a href="https://wa.me/message/3Z6XA3NLS3NHF1" class="whatsapp-float" target="_blank">
    <i class="bi bi-whatsapp" style="font-size: 30px;"></i>
    <span  class="contact-message" *ngIf="showContactMessage" > ! تواصل معنا</span>
  </a>
</div>
<section style="height: 20%" id="home">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    data-interval="4000"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="assets/images/sl2.jpg"
          style="object-fit: cover; width: 100%; "
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="assets/images/sl1.jpg"
          style="object-fit: cover; width: 100%; "
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="assets/images/sl3.jpg"
          style="object-fit: cover; width: 100%; "
          alt="Third slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="section " id="we"  style="padding: 20px;"    >

  <div class="container " >
    <div class="row align-items-center">
      <div class="col-lg-6 text-center d-lg-block d-none " data-aos="fade-right" data-aos-duration="1000"  >
        <img src="assets/images/33.png" class="img-fluid card" style="border-radius: 10px; " alt="" />
      </div>
      <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="mb-3" style="text-align: center">من نحن ؟</h2>

        <p style="text-align: center; font-size: 20px !important">
          نعمل في شركة العشي للشحن والتجارة الدولية على نقل البضائع من جميع
          انحاء جمهورية مصر العربية الى فلسطين باسرع وقت واقل التكاليف
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section pb-0" style="margin-top: -60px !important" id="services">
  <div class="container">
    <h2 class="section-title" style="text-align: center">خدماتنا</h2>
    <div class="row">
      <!-- topic -->
      <div class="col-lg-4 col-md-5 col-sm-10 mb-9" data-aos="flip-right" data-aos-duration="3000">
        <div class="card match-height">
          <div class="card-body">
            <img
              src="assets/images/p.jpg"
              class="card-img-top mb-4 common-image-size"
              alt="Image d'illustration"
            />
            <h3 class="card-title h4" style="text-align: right">
              شحن جزئي اسبوعي
            </h3>
           
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-4 col-md-4 col-sm-10 mb-5" data-aos="flip-right" data-aos-duration="2000">
        <div class="card match-height">
          <div class="card-body">
            <img
              src="assets/images/sea.webp"
              class="card-img-top mb-4 common-image-size"
              alt="Image d'illustration"
            />
            <h3 class="card-title h4" style="text-align: right">
              شحن حاويات بحري
            </h3>
          
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
      <div class="col-lg-4 col-md-4 col-sm-10 mb-5" data-aos="flip-right"data-aos-duration="1000">
        <div class="card match-height">
          <div class="card-body">
            <img
              src="assets/images/k.jpg"
              class="card-img-top mb-4 common-image-size"
              alt="Image d'illustration"
            />
            
            <h3 class="card-title h4" style="text-align: right;">
              شحن كلي على مدار الشهر
            </h3>
          
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- topic -->
    </div>
    
  </div>
</section>
<!-- banner -->
<section class="section pb-0" id="shipment" style="background-color: #E8EBEE;">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 text-center text-lg-left"  >
        <h1 class="mb-4" style="text-align: right">تتبع الشحنة</h1>
        <p class="mb-4" style="text-align: right;font-size: 18px !important;" >
          يمكنك تتبع شحنتك ومعرفة الموعد التقديري لوصول الشحنة اليك من خلال
          ادخال كود التتبع وسوف تظهر لك تفاصيل الشحنة
        </p>
        <form class="search-wrapper" (ngSubmit)="onSubmit()">
          <input
            id="search-by"
            name="deliveryNumber"
            data-aos="false"
            [(ngModel)]="deliveryNumber"   
            style="text-align: left !important;"
            type="search"
            maxlength = "10"
            class="form-control form-control-lg"
            placeholder="اضف  رقم الشحنة"
          />
          <button
            type="submit"
            class="btn btn-primary"
            style="text-align: right"
          >
            تتبع الشحنة
          </button>
        </form>
      </div>
      <div class="col-lg-7 d-lg-block d-none" data-aos="fade-left" data-aos-duration="5000"
      data-aos-anchor-placement="top-center">
        <img src="assets/images/2.jpg" alt="illustration" class="img-fluid" />
      </div>
    </div>
  </div>
  <br><br>
</section>
<section class="section pb-0" [hidden]="!showAlert" >
  <div class="container" style="text-align: right;">
    <div class="row">
      
      <div class="col">
        
        <img src="assets/images/ship.jpg" alt="" style="height: 50%;">
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="alert alert-danger" style="height: 200px;  text-align: center;">
          <a href="#" class="close" (click)="hideAlert($event)" aria-label="close" >&times;</a>
            <br>
          <div *ngIf="searchResult">
            <div *ngFor="let item of searchResult" style="margin-right: 30px !important;">
              <p style="font-size: 35px !important; white-space: nowrap !important ;"> الشحنة الان {{ item.Shipmentlocation }}</p>
            </div>
          </div>
          <div *ngIf="errorMessage">
            <p  style="font-size: 35px !important; white-space: nowrap !important ;">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
      
      

    </div>
   
  </div>
</section>
<!-- /banner -->

<!-- topics -->

<!-- /topics -->

<!-- faq -->
<section class="section pb-0" id="contact">
  <div class="container">
    <h2 class="section-title"></h2>
    <div class="row masonry-wrapper">
      <!-- faq item -->
      <div class="col-md-6 mb-4" data-aos="zoom-in-left">
        <div class="card card-lg">
          <div class="card-body" >
            <h3 class="card-title h5" style="text-align: right">تواصل معنا</h3>
            <p class="card-text content" style="text-align: right; font-size: 18px !important;">
              يمكنك التواصل معنا في جميع الفروع من خلال الارقام التالية<br />
              القاهرة:- <br />ناصر العشي :- +201006166773 +201011961595
              <br />مستودعات :- +21002983107<br />
            
            </p>
            <div class="hideonsmall">
              <img src="assets/images/contact.gif" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <!-- faq item -->
      <div class="col-md-6 mb-4" data-aos="zoom-in-right">
        <div class="card card-lg">
          <div class="card-body">
            <h3 class="card-title h5" style="text-align: right">موقع الشركة</h3>
            <p class="card-text content" style="text-align: right; font-size: 20px !important;">
              يقع مقرنا الرئيسي في جمهورية مصر العربية مدينة العاشر من رمضان
              المجاورة 11
            </p>

            <div style="overflow: hidden; position: relative">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.5552623183983!2d31.724252815385417!3d30.114546815517946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1457fddf14619bdb%3A0xe0908de7b65e31cd!2s%D9%85%D8%AC%D8%A7%D9%88%D8%B1%D9%87%2011%2C%2010th%20of%20Ramadan%20City%201%2C%20Ash-Sharqiyah%2C%20%C3%89gypte%E2%80%AD!5e0!3m2!1sen!2sca!4v1647821092344!5m2!1sen!2sca"
                width="100%"
                height="405"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- faq item -->

      <!-- faq item -->
    </div>
  </div>
</section>
